In [989]:
import numpy as np
import pandas as pd
import itertools as it
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [990]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1836,tt0181865,48000000,207515725,Traffic,Michael Douglas|Benicio del Toro|Jacob Vargas|...,Steven Soderbergh,No one gets away clean,An exploration of the United States of America...,148,Drama,USA Films|Initial Entertainment Group (IEG)|Be...,12/27/2000,6.6,2000
973,tt1853728,100000000,425368238,Django Unchained,Jamie Foxx|Christoph Waltz|Leonardo DiCaprio|K...,Quentin Tarantino,"Life, liberty and the pursuit of vengeance.","With the help of a German bounty hunter, a fre...",165,Drama|Western,Columbia Pictures|The Weinstein Company,12/25/2012,7.7,2012
1106,tt0172156,130000000,273339556,Bad Boys II,Martin Lawrence|Will Smith|Jordi MollÃ |Gabrie...,Michael Bay,"If you can't stand the heat, get out of Miami.","Out-of-control, trash-talking buddy cops Marcu...",147,Adventure|Action|Comedy|Thriller|Crime,Columbia Pictures Corporation|Don Simpson/Jerr...,7/18/2003,6.3,2003
955,tt0280760,9000000,4777465,Igby Goes Down,Kieran Culkin|Claire Danes|Jeff Goldblum|Jared...,Burr Steers,Insanity is relative.,A young man's peculiar upbringing renders him ...,97,Comedy|Drama,United Artists,9/13/2002,6.5,2002
1395,tt0384642,45000000,56070433,Kicking & Screaming,Will Ferrell|Robert Duvall|Kate Walsh|Musetta ...,Jesse Dylan,One man could lead this team to glory. . . Tha...,Phil Weston has been unathletic his entire lif...,95,Romance|Comedy|Family,Universal Pictures,5/13/2005,5.8,2005

In [991]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [992]:
answers = {}  # создадим словарь для ответов

# добавлено колонку profit: profit = revenue - budget
data['profit'] = data.revenue-data.budget


# тут другие ваши предобработки колонок например:

'''для датафрейма df в колонке columnname найти запись, которая встречается чаще всего
   columnname передавать в виде: 'columnname'
   запись в columnname представляет из себя строку, где данные
   разделены сепаратором '|'
'''


def top_value_in_columninfo(df, columnname):
    df_sub = df[columnname].str.split('|', expand=True)
    df_sub_expand = pd.DataFrame(df_sub.stack(), columns=[columnname])
    return df_sub_expand[columnname].value_counts().index[0]


# добавлено колону list_dirs - режиссеры записаны в list
# пригодится для DataFrame.explode()
data['list_dirs'] = data.director.str.split('|')


# time представлено как string
# преобразовано в datetime
data['release_date'] = pd.to_datetime(data.release_date)


# добавлено колонку title_len - длина названия фильма
data['title_len'] = data.original_title.str.len()


# добавлено колонку overview_len - длина описания фильма
data['overview_len'] = data.overview.str.len()


# добавлено колонку list_companies
data['list_companies'] = data.production_companies.str.split('|')

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [993]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример:
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа

answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# "+"

In [994]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [995]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [996]:
# думаю логику работы с этим словарем вы уже поняли,
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'
# +

In [997]:
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [998]:
answers['3'] = 'Winnie the Pooh (tt1449283)'
# +

In [999]:
data[data.runtime == data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [1000]:
answers['4'] = '110'
# +

In [1001]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [1002]:
answers['5'] = '107'
# +

In [1003]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [1004]:
answers['6'] = 'Avatar (tt0499549)'
# +

In [1005]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data.profit == data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

#вариант 2

In [1006]:
data.loc[data.profit == data.profit.max(), 'original_title'].values[0]

'Avatar'

# 7. Какой фильм самый убыточный?

In [1007]:
answers['7'] = 'The Lone Ranger (tt1210819)'
# +

In [1008]:
data[data.profit == data.profit.min()].original_title.values[0]

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [1009]:
answers['8'] = '1478'
# +

In [1010]:
len(data[data.revenue > data.budget])

1478

In [1011]:
data[data.revenue > data.budget].count()

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
list_dirs               1478
title_len               1478
overview_len            1478
list_companies          1478
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [1012]:
answers['9'] = 'The Dark Knight (tt0468569)'
# +

In [1013]:
data_2008 = data[data.release_year == 2008]
data_2008[data_2008.revenue == data_2008.revenue.max()].original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [1014]:
answers['10'] = 'The Lone Ranger (tt1210819)'
# +

In [1015]:
data[(data.release_year >= 2012) & (data.release_year <= 2014)] \
    .query('profit == profit.min()').original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [1016]:
answers['11'] = 'Drama'
# +

In [1017]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале


df_genres = data.genres.str.split('|', expand=True)

# same :
#df_genres = pd.DataFrame(data.genres.str.split('|').to_list())

df_genres_expand = pd.DataFrame(df_genres.stack(), columns=['genre'])

df_genres_expand.genre.value_counts().index[0]

'Drama'

ВАРИАНТ 2

In [1018]:
genres_list = pd.Series(data.genres.str.cat(sep='|').split('|'))
genres_list.value_counts().index[0]

'Drama'

ВАРИАНТ 3

In [1019]:
top_value_in_columninfo(data, 'genres')

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [1020]:
answers['12'] = 'Drama'
# +

In [1021]:
df_profit = data[data.profit > 0]
top_value_in_columninfo(df_profit, 'genres')

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [1022]:
answers['13'] = 'Peter Jackson'
# +

In [1023]:
data_exploded_dir = data.explode('list_dirs')
data_exploded_dir.groupby(by='list_dirs') \
                 .revenue.sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [1024]:
answers['14'] = 'Robert Rodriguez'
# +

In [1025]:
data_action = data[data.genres.str.contains('Action')][['list_dirs']]

data_exploded_action = data_action.explode('list_dirs')
data_exploded_action.list_dirs.value_counts().index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [1026]:
answers['15'] = 'Chris Hemsworth'
# +

In [1027]:
data_sub = data[data.release_year == 2012][['cast', 'revenue']]

data_sub.cast = data_sub.cast.apply(lambda s: s.split('|'))
data_sub_exploded = data_sub.explode('cast')

data_sub_exploded.groupby(by='cast') \
    .revenue.sum().sort_values(ascending=False).index[0]

'Chris Hemsworth'

In [1028]:
# НЕ РЕШЕНИЕ-ОТВЕТ
# нашли фильм с макс кассой; актеров, которые в нем снимались
(data[data.release_year == 2012].sort_values(
    by='revenue', ascending=False)).iloc[0].cast

'Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chris Hemsworth|Scarlett Johansson'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [1029]:
answers['16'] = 'Matt Damon'
# +

In [1030]:
data_high_budget = data[data.budget > data.budget.mean()]
top_value_in_columninfo(data_high_budget, 'cast')

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [1031]:
answers['17'] = 'Action'
# +

In [1032]:
data_nicolas_cage = data[data.cast.str.contains('Nicolas Cage')]
top_value_in_columninfo(data_nicolas_cage, 'genres')

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [1033]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'
# +

In [1034]:
data[data.production_companies.str.contains('Paramount Pictures')] \
    .sort_values(by='profit').iloc[0].original_title

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [1035]:
answers['19'] = '2015'
# +

In [1036]:
data.groupby(by='release_year')['revenue'] \
    .sum().sort_values(ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [1037]:
answers['20'] = '2014'
# +

In [1038]:
data[data.production_companies.str.contains('Warner Bros')] \
    .groupby(by='release_year').profit.sum().sort_values(ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [1039]:
answers['21'] = 'Сентябрь'
# +

In [1040]:
data.groupby(by=data.release_date.dt.month) \
    .original_title.count().sort_values(ascending=False).index[0]

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [1041]:
answers['22'] = '450'
# +

In [1042]:
data.query('6<=release_date.dt.month<=8').imdb_id.count()

450

In [1043]:
len(data.query('6<=release_date.dt.month<=8'))

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [1044]:
answers['23'] = 'Peter Jackson'
# +

In [1045]:
data_winter_films = data[data.release_date.dt.month.isin([1, 2, 12])]

data_winter_films_exploded = data_winter_films.explode('list_dirs')

data_winter_films_exploded.list_dirs.value_counts().index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [1046]:
answers['24'] = 'Four By Two Productions'
# +

In [1047]:
data_prod_titlelen = data[['list_companies', 'title_len']]

data_prod_titlelen_exploded = data_prod_titlelen.explode('list_companies')

# количество уникальный продакш_компаний 1771
data_prod_titlelen_exploded.list_companies.nunique()

data_prod_titlelen_exploded.groupby(by='list_companies')['title_len'].agg('mean') \
                           .sort_values(ascending=False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [1048]:
answers['25'] = 'Midnight Picture Show'
# +

In [1049]:
data_prod_overview = data[['list_companies', 'overview_len']]

data_prod_overview_exploded = data_prod_overview.explode('list_companies')

data_prod_overview_exploded.groupby(by='list_companies')['overview_len'].agg('mean') \
                           .sort_values(ascending=False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [1050]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
# +

In [1051]:
data.vote_average.quantile(0.99)

data.query('vote_average > vote_average.quantile(0.99)').original_title.to_list()

['Inside Out',
 'Room',
 'Interstellar',
 'Guardians of the Galaxy',
 'The Imitation Game',
 'Gone Girl',
 'The Grand Budapest Hotel',
 'Inception',
 'The Dark Knight',
 'The Pianist',
 'The Lord of the Rings: The Return of the King',
 'The Wolf of Wall Street',
 '12 Years a Slave',
 'Memento']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [1052]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'
# +

In [1053]:
cast_all = data.cast.str.split('|').tolist()
actor_pairs_iter = [it.combinations(x, 2) for x in cast_all]
actor_pairs = pd.Series([set(y)
                         for x in actor_pairs_iter for y in x]).apply(tuple)
actor_pairs.value_counts()

(Emma Watson, Rupert Grint)                  8
(Emma Watson, Daniel Radcliffe)              8
(Daniel Radcliffe, Rupert Grint)             8
(Ben Stiller, Owen Wilson)                   6
(Johnny Depp, Helena Bonham Carter)          6
                                            ..
(Amanda Peet, Matthew Perry)                 1
(Cory Hardrict, RamÃ³n RodrÃ­guez)           1
(Christopher Guest, John Michael Higgins)    1
(Colin Firth, Eliza Bennett)                 1
(Ronnie James Dio, Jack Black)               1
Length: 17957, dtype: int64

ВАРИАНТ 2

In [1054]:
actor_list = data.cast.str.split('|').tolist()

combo_list = []
for i in actor_list:
    for j in it.combinations(i, 2):
        combo_list.append(' & '.join(sorted(j)))

combo_list = pd.DataFrame(combo_list)
combo_list.columns = ['actor_pairs']
combo_list.actor_pairs.value_counts()

Emma Watson & Rupert Grint                     8
Daniel Radcliffe & Emma Watson                 8
Daniel Radcliffe & Rupert Grint                8
Helena Bonham Carter & Johnny Depp             6
Ben Stiller & Owen Wilson                      6
                                              ..
James Franco & Richard Jenkins                 1
Maya Rudolph & Rose Byrne                      1
Giancarlo Esposito & Thomas Brodie-Sangster    1
Jennifer Lopez & Susan Sarandon                1
Forest Whitaker & Keanu Reeves                 1
Name: actor_pairs, Length: 17943, dtype: int64

In [1055]:
# TEST
values = [['A', 'B', 'C'], ['B', 'D', 'A']]
pairs_iter = [it.combinations(x, 2) for x in values]
pairs_set = pd.Series([set(y) for x in pairs_iter for y in x]).apply(tuple)

display(pairs_set)

0    (A, B)
1    (A, C)
2    (B, C)
3    (D, B)
4    (A, B)
5    (A, D)
dtype: object

In [1056]:
# TEST
values = ['A', 'B', 'C', 'B', 'D', 'A']
pairs = list(it.combinations(values, 2))

display(pairs)

[('A', 'B'),
 ('A', 'C'),
 ('A', 'B'),
 ('A', 'D'),
 ('A', 'A'),
 ('B', 'C'),
 ('B', 'B'),
 ('B', 'D'),
 ('B', 'A'),
 ('C', 'B'),
 ('C', 'D'),
 ('C', 'A'),
 ('B', 'D'),
 ('B', 'A'),
 ('D', 'A')]

In [1057]:
# TEST
actors = Counter()
for x in [['A', 'B', 'C'], ['B', 'D', 'A']]:
    actors += Counter(it.combinations(x, 2))
for actor, count in actors.most_common():
    print(actor, count)

('A', 'B') 1
('A', 'C') 1
('B', 'C') 1
('B', 'D') 1
('B', 'A') 1
('D', 'A') 1

In [1058]:
# TEST
actor_list = [['A', 'B', 'C'], ['B', 'D', 'A']]

combo_list = []
for i in actor_list:
    for j in it.combinations(i, 2):
        combo_list.append(' & '.join(sorted(j)))

combo_list = pd.DataFrame(combo_list)
combo_list.columns = ['actor_pairs']
combo_list.actor_pairs.value_counts()

A & B    2
B & D    1
A & D    1
B & C    1
A & C    1
Name: actor_pairs, dtype: int64

# Submission

In [1059]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [1060]:
# и убедиться что ни чего не пропустил)
len(answers)

27